@import "./base.css";

#app {
  font-weight: normal;
  -webkit-overflow-scrolling: touch;
}

.van-nav-bar__content {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.bar {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05), 0 2px 6px 0 rgba(0, 0, 0, 0.05);
}